:root {
  --primary: #2203860F;
  --bg-box-color: #fff;
  --font-color-on-primary: #fff;
  --bg-main-color: #f8f8f8;
  --main-color: #000;
  --base-font-size-abs: 1rem;
  --base-font-size-rel: 1.11vw;
}

:root .acc_theme_dark {
  --primary: #2203860F;
  --bg-box-color: #fff;
  --font-color: #444;
  --font-color-on-primary: #fff;
  --bg-main-color: #111;
  --main-color: #FFF;
}
